<h1>File Upload</h1>
<%= form_tag ({:action => 'upload'}, 
                        :multipart => true) %>
<p><label for="upload_file">Select File</label> : 
<%= file_field 'upload', 'upload' %></p>
<%= submit_tag "Upload" %>

